 {% load static %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <img src="{% static 'myapp/images/icon.ico' %}" alt="" height="28px" width="28px">
        <a class="navbar-brand">DGShop</a>
        <a class="navbar-brand">Профиль</a>
        <a class="navbar-brand">Ничего и никто</a>
        <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>