{% extends 'base.html' %}
{% block content %}
	<div class="card mb-3" style="max-width: 960px;">
		<div class="row g-0">
		<div class="col-md-4">
				<img src="{{item.image.url}}" class="img-fluid rounded-start" alt="...">
		</div>
		<div class="col-md-8">
				<div class="card-body">
				<h5 class="card-title">{{ item.name }}</h5>
				<p class="card-text text-success fw-bold">{{ item.price }}</p>
				<p class="card-text">{{ item.description }}</p>
				<button href="#" class="btn btn-primary">В корзину</button>
				</div>
		</div>
		</div>
	</div>
{% endblock content %}